discord==1.0.1
jishaku
timeago
psutil
pynacl
aiohttp
aiosqlite
async-timeout
attrs
chardet
dblpy
idna
idna-ssl
multidict
python-dateutil
ratelimiter==1.2.0.post0
six
texttable
typing-extensions
websockets
yarl
wavelink
requests
pillow
praw
bitlyshortener
motor
dnspython
ago
disputils
pymongo
pathlib
